body {
  font-family: 'Montserrat';
  background: url(images/forest.jpg) no-repeat center center fixed;
}

/*------------------------------------------*/
/*Home page*/
#brand-img
{
  height: 50px;
}

.bg-light {
   background-color: transparent !important;
}

.navbar-nav {
    font-family: 'Arial';
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.nav-item {
   margin: 0 45px;
}

.nav-link {
  color: #4A8E8D  !important;
}

.active a{
  color: #0D2D1E  !important;
}

/*------------------------------------------*/
/*Profile page*/
.container {
  margin-top: 75px;
  background-color: #EFF8FF;
  border-radius: 15px;
  opacity: 0.96;
  box-shadow: 0px 0px 10px #073333;
}

h1 {
  padding: 20px 15px
}

.row-content {
  padding: 20px 20px;
}

.column-one {
  margin-left: 20px;
}

.btn-cancel {
  margin-left: 10px;
}

.btn-primary {
  background-color: #269AD3!important;
  border-color: transparent;
}

.row-info {
  margin-top: 20px;
}
/*------------------------------------------*/
/*Schedule page*/
.status-green { background-color: #98FB98!important; }
.status-yellow { background-color: #FFFF00!important; }
.status-grey { background-color: 	#808080!important; }
.status-red { background-color: #B22222!important; }
